*{
    margin: 0;

}

:root {
    --celeste: #D5E1EF;
    --azul-navy: #1F314F;
    --gris: #7D889E;
    --blanco: #FFFFFF;
    --negro: #000000;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--celeste);
}

.card {
    background-color: var(--blanco);
    width: 320px;
    height: 497px;
    border-radius: 20px;
    padding: 16px;
    font-family: ;
    box-shadow: 0 25px 25px 0 var(--gris) ;
}

#qr_code_image {
    width: 288px;
    border-radius: 10px;
    margin-bottom: 24px;
}

