*{
    margin: 0;
    padding: 0;
    /* revisar porque el box-sizing descuajeringa la tarjeta */
}

:root {
    --celeste: #D5E1EF;
    --azul-navy: #1F314F;
    --gris: #7D889E;
    --blanco: #FFFFFF;
    --sombra: rgba(0, 0, 0, 0.0477);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--celeste);
}

.card {
    background-color: var(--blanco);
    width: 288px;
    height: 465px;
    border-radius: 20px;
    padding: 16px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    box-shadow: 0 25px 25px 0 var(--sombra);
}

#qr_code_image {
    width: 288px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.content h1 {
    font-size: 22px;
    font-weight: 700;
    color: var(--azul-navy);
    margin-bottom: 16px;
    text-align: center;
}

.content p {
    font-size: 15px;
    font-weight: 400;
    color: var(--gris);
    text-align: center;
}
